body {

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.title-sec1 {
  display: flex;
  align-items: center;
}

.title-sec2 {
  display: flex;
  gap: 15%;
  font-size: 17px;
  justify-content: center;
  cursor: pointer;
}

.title-sec2 p {
  border: solid white 1px;
  padding: 5%;
  border-radius: 30px;
}

.title-sec2 p:hover {
  transition: 0.5s;
  background-color: gray;

}

.title-sec3 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.title-sec4__signup {
  background-color: black;
  color: white;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
}

.title-sec4__signup p:hover {
  cursor: pointer;
  background-color: grey;
  border-radius: 20px;
  transition: 1ms;
}

.title-sec4__signup p {
  align-items: center;
  text-align: center;
  display: flex;
  font-size: larger;
  padding: 10px;
  justify-content: center;
}

.menu-bar {
  display: none;
}

.main-content__title {
  font-size: 28px;
  text-align: center;
}

.main-content__desc p:hover {
  transition: 1ms;
  cursor: pointer;
  border-bottom: solid black 1px;
}

.main-content__desc {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.main-content__search,
.main-content__hotel,
.main-content__todo,
.main-content__restaurent,
.main-content__homes {
  display: flex;
  align-items: center;
  gap: 5px;

}

.main-navbar {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.navbar {
  border: solid white 1px;
  border-radius: 40px;
  width: 60%;
  display: flex;
  gap: 10px;
  align-items: center;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5px;
  justify-content: space-between;
}

.navbar-one {
  display: flex;
  align-items: center;
  padding: 10px;
}

.navbar-one input {
  border: none;
  padding: 10px;
  align-items: center;
  background-color: transparent;
  font-size: 15px;
  width: 300px;
}

.navbar-one input:focus {
  outline: none;
}

.navbar-search {
  border: solid #34e0a1 1px;
  background-color: #34e0a1;
  color: black;
  border-radius: 25px;
  width: 15%;
  height: 95%;
  font-size: larger;
  font-weight: 900;
  text-align: center;
  display: flex;
  justify-content: center;

}

.navbar-search p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-search:hover {
  cursor: pointer;
  transition: 1s;
  border: solid gray 1px;
  background-color: gray;
}

.main-imgone {
  background-color: #b8a3d8;
  position: relative;
  margin-top: 5%;
}

.main-img {
  position: absolute;
  top: 75%;
  left: 15%;
}

.main-imgdesc {
  border: solid #b8a3d8 1px;
  width: 60%;
  color: #301d49;
}

.main-imgloc {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  margin: 0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 900;
  background-color: #301d49;

}

.hotel-imgs {
  display: flex;
  position: relative;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 20px;
  cursor: pointer;
  margin: 20px;
}

.hotel-imgs img {
  border-radius: 10px;
}

.hotel-imgs p {
  position: absolute;
  top: 70%;
  color: white;
  font-size: larger;
  padding: 10px;
  font-weight: 900;
}

.card-img {
  cursor: pointer;
  border-bottom: solid black 1px;

}

.end-card {
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  gap: 50px;
  padding: 10%;
  border-bottom: solid black 1px;
}

.end-card3 img {
  padding: 10%;
  margin-top: 50%;
  cursor: pointer;
}


@media screen and (max-width:800px) {
  body {
    font-size: 10px;
  }
}

@media screen and (max-width:600px) {
  body {
    margin: 5%;
  }

  .title-sec2 {
    display: none;
  }

  .title-sec3 img,
  p {
    display: none;
  }

  .menu-bar {
    display: block;
  }

  .main-content__title {
    display: none;
  }

  .main-content__desc img {}

  .main-content__desc p {
    display: block;
    align-items: center;
  }

  .navbar-search {
    display: none;
  }

  .main-navbar {
    justify-content: center;
    width: 450px;
  }

  .end-card3 {
    display: none;
  }
}